/* Add CSS for responsive navbar and footer */

header {
    background-color: rgb(101, 15, 124);
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* max-width: 100%; */
    padding: 0 20px;
    height: 60px;
    background-color: rgb(101, 15, 124);
    border-radius: 5px;
}

.left {
    font-weight: bold;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.right ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    gap: 50px;
}

.right li {
    font-weight: bold;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 100%;
    }

    .left {
        order: 1;
    }

    .right {
        order: 2;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .right ul {
        gap: 1px;
    }

    .right li {
        font-size: small;
        margin: 5px;
    }
}

footer {
    background-color: rgb(101, 15, 124);
    color: white;
    text-align: center;
    padding: 10px;    
}

.contact {
    width: 100%;
    display: flex;
}

.socials ul {
    list-style-type: none;
    padding: 0;
}

.socials li {
    margin-right: 10px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .contact {
        justify-content: center;
        align-items: center;
    }
    .socials {
        display: flex;
        text-align: center;
        align-content: space-between;
    }
}
